body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home {
  align-items: center;
  display: flex;
  margin-top: 2%;
  height: 85vh;
  width: 174vh;
  font-size: 125rem;
  text-shadow: #b7f4c4 12px 8px 5px;
  color: #31569b;
  font-family: "Lucida Sans";
  margin-right: 10vh;
  margin-left: 1vh;
  margin-top: 2vh;
  background-image: url("https://studentloanhero.com/wp-content/uploads/simple-budgeting-methods-to-help-you-live-your-best-life.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
}

.total {
  text-align: center;
}

.home h1 {
  padding: 25px;
  margin-left: 75px;
  margin-top: 35vh;
  font-weight: bold;
}
.navbar {
  background-color: #1b8a2c;
  display: flex;
  width: 100vh;
  box-shadow: 12px 8px 5px rgb(93, 90, 90);
  align-items: flex-start;
  gap: "1rem";
}

.navbar h1 {
  text-decoration: none;
}
.transaction_btn {
  background-color: cadetblue;
  color: khaki;
  box-shadow: rgb(170, 238, 160) 5px 2px 2px;
  margin-top: 8px;
  margin-left: 255px;
}

.submit {
  background-color: cadetblue;
  color: khaki;
  box-shadow: rgb(170, 238, 160) 5px 10px 5px;
  margin-top: 8px;
  margin-right: 15px;
}

.submit:hover {
  background-color: rgb(140, 172, 240);
  color: cadetblue;
  width: 50%;
  box-shadow: rgb(235, 216, 167) 5px 10px 5px;
}

.bk_btn {
  background-color: cadetblue;
  color: khaki;
  box-shadow: rgb(170, 238, 160) 5px 2px 2px;
  margin-top: 8px;
  margin-left: 135px;
}

.new_form {
  border: 1px solid black;
  background-color: #8a631b;
  margin-right: 25px;
  padding: 170px;
  margin: 1px 10px auto 5px;
  box-shadow: rgb(97, 93, 93) 10px 10px 5px;
  text-align: center;
}

Form {
  text-align: left;
}
