.app {
  display: grid;
  margin: 0;
  background: #8a641b;
  /* background-image: url("https://studentloanhero.com/wp-content/uploads/simple-budgeting-methods-to-help-you-live-your-best-life.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home {
  align-items: center;
  display: flex;
  height: 170%;
  width: 100%;
  background-color: #8a641b;
  font-size: 125rem;
  text-shadow: #b7f4c4 12px 8px 5px;
  color: #31569b;
  font-family: "Lucida Sans";
  margin-left: 0vh;
  margin-bottom: 2vh;
  background-image: url("https://studentloanhero.com/wp-content/uploads/simple-budgeting-methods-to-help-you-live-your-best-life.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: flex;
}

.total {
  text-align: center;
}

.home h1 {
  padding: 25px;
  margin-left: 75px;
  margin-top: 35vh;
  font-weight: bold;
}
.navbar {
  background-color: #1b418a;
  display: flex;
  width: 90%;
  height: 14vh;
  margin-left: 6%;
  margin-right: 6%;
  box-shadow: 12px 8px 5px #1b8a2d;
  align-items: flex-start;
}

.navbar h1 {
  text-decoration: none;
}

.transaction_btn {
  background-color: cadetblue;
  color: khaki;
  box-shadow: rgb(170, 238, 160) 5px 2px 2px;
  margin-top: 8px;
  margin-left: 255px;
}

.submit {
  display: flex;
  background-color: #1b418a;
  width: 45%;
  color: khaki;
  box-shadow: rgb(170, 238, 160) 5px 10px 5px;
  margin-top: 8px;
  margin-right: 15px;
  border-radius: 5%;
}

.submit:hover {
  background-color: #8a1b79;
  color: cadetblue;
  width: 50%;
  box-shadow: rgb(235, 216, 167) 5px 10px 5px;
}

.bk_btn {
  background-color: cadetblue;
  color: khaki;
  box-shadow: rgb(170, 238, 160) 5px 2px 2px;
  margin-top: 8px;
  margin-left: 125px;
}

.new_form {
  display: grid;
  background-color: #1b418a;
  width: 60%;
  height: 30%;
  margin: 5% 20% auto 25%;
  box-shadow: #1b8a2d 10px 10px 5px;
  align-items: center;
  border-radius: 10px;
}
label {
  display: grid;
  color: #8a1b78;
  font-size: large;
  margin-right: 90%;
  width: 105%;
}
.insideform {
  display: grid;
}
input {
  display: grid;
  align-items: center;
}

.edit {
  background-color: #8a641b;
  border: 1px solid #1b418a;
  width: 50%;
  height: 40%;
  margin: 5% 20% auto 20%;
  box-shadow: rgb(97, 93, 93) 10px 10px 5px;
  align-items: center;
  border-radius: 10px;
}

form {
  display: grid;
  text-align: center;
  margin-right: 10%;
  padding: 3%;
}

.bk_btn {
  margin-right: 3%;
  margin-left: 60%;
  width: 50%;
  margin-top: -7%;
  box-shadow: rgb(170, 238, 160) 8px 10px 5px;
}
.new {
  display: block;
  height: 90%;
  margin-bottom: 100%;
  margin-top: 10%;
  padding: 10px;
  background: #8a641b;
}

@media (max-width: 780px) {
  .navbar {
    width: 50%;
  }
  .transaction_btn {
    width: 50%;
  }
}
